{% extends '_layout/base.html' %}

{% block conteudo %}

    <div class="card mb-4">
        <div class="card-header">
            {{ tiket.ticket }} Aqui você poderá adicionar o Cliente ao ticket!
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                    <thead>
                            <tr align="center">
                                <th scope="col">Cliente</th>
                                <th scope="col">Gerente</th>
                                <th scope="col">Gerente Regional</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                            <tr align="center">
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.gerente_loja }}</td>
                                <td>{{ cliente.gerente_regional }}</td>                          
                                <td>
                                    <a href="/ticket/cadastrar-ticket-cliente/{{cliente.pk}}/{{id_ticket}}"><button class="btn btn-info"><i class="fas fa-plus"></i></button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>   
    </div>
</div>
{% endblock %}