{% extends "_layout/base.html" %}

{% load django_bootstrap5 %}

{% load permission_tags %}

{% block conteudo %}

<form action="{% url 'relatorios-index' %}" method="post">
    {% csrf_token %}
  
    {% bootstrap_form form %}    
      
    <button type="submit" name="pesquisar" class="btn btn-success">Pesquisar</button>
    <button type="submit" name="limpar" class="btn btn-warning">Limpar</button>
    
</form>

<div class="card mb-4">
    <div class="card-header">
        Relatórios
        {% if total_faturamento %}<p class="text-success">R$ {{total_faturamento }}</p>{% else %} {%endif%}
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr align="center">
                    <th scope="col">#ticket</th>
                    {% if user|has_role:'super' %}
                    <th scope="col">Usuário</th>
                    {% endif %}
                    <!--<th scope="col">Colaborador</th>-->
                    <th scope="col">Colaborador</th>
                    <th scope="col">Faturamento</th>
                    <th scope="col">Custo Material</th>
                    <th scope="col">Mão de Obra</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr align="center">
                    <td>{{ ticket.ticket }}</td>
                    {% if user|has_role:'super' %}
                    <td>{{ ticket.usuario }}</td> 
                    {% endif %}
                    <!--                               
                    <td>
                        {% if not ticket.colaborador  %}
                            <a href="/ticket/add-ticket-colaborador/{{ticket.id}}"><button class="btn btn-primary text-white"><i class="fas fa-user-tag"></i></button></a>
                        {% else %}
                            <a class="link-primary" href="/ticket/add-ticket-colaborador/{{ticket.id}}?origem=link-colaborador">{{ ticket.colaborador }}</a>
                        {% endif %}

                    </td>
                    -->
                    <td>{{ ticket.colaborador }}</td>
                    <td>{{ ticket.valor_faturamento }}</td> 
                    <td>{{ ticket.custo_material }}</td>                                 
                    <!--
                    <td>  
                        {% if ticket.emergencial == True %}
                        <span class="badge text-bg-danger">Emergencial</span>                              
                        {% else %}
                        <span class="badge text-bg-primary">Simples</span>                                                          
                        {% endif %}                            
                    </td>
                    <td>
                        {% if ticket.status == 'L' %}
                        <span class="badge text-bg-warning">Levantamento</span>
                        {% endif %}
                        {% if ticket.status == 'O' %}
                            <span class="badge text-bg-info">Orçamento</span>
                        {% endif %}
                        {% if ticket.status == 'A' %}
                            <span class="badge text-bg-secondary">Aprovado</span>
                        {% endif %}
                        {% if ticket.status == 'F' %}
                            <span class="badge text-bg-dark">Finalizado</span>
                        {% endif %}
                        {% if ticket.status == 'V' %}
                            <span class="badge text-bg-success">Vistoriado</span>
                        {% endif %}                              
                    <td>
                        R$ {{ ticket.valor_custo }}
                    </td>
                    -->
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .was-validated .form-control:valid, 
    .form-control.is-valid {
        border-color: #ced4da; /* Voltar ao padrão */
        background-image: none; /* Remove o ícone verde */
    }
</style>

{% endblock %}