{% load static  %}

{{ redirect_to_login_immediately }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - TeckSolve Pro</title>
        <link href="{% static 'assets/dist/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'js/fontawesome.js' %}"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include "paginas/nav.html" %}
        <div id="layoutSidenav">
            <!-- Nevegacao lateral-->
            {% include "paginas/nav-lateral.html" %}
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard | {{ title }}</li>
                        </ol>
                        {% include 'paginas/mensagem.html' %}

                        {% block conteudo %}{% endblock %}

                    </div>
                    
                </main>
                <!-- pagina de rodape-->
                {% include 'paginas/footer.html' %}
            </div>
            
        </div>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
        <script src="{% static 'assets/demo/simple-datatables.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
