{% extends "_layout/base.html" %}

{% load permission_tags %}

{% block conteudo %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Tickets</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard-ticket' %}">Ver Detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Colaboradores</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard-colaborador' %}">Ver Detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Clientes</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard-cliente' %}">Ver Detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Relatórios</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'relatorios-index' %}">Ver Detalhes</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <a class="btn btn-warning" href="{% url 'add-ticket' %}"><i class="fas fa-plus"></i> Add ticket </a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr align="center">
                    <th scope="col">#ticket</th>
                    {% if user|has_role:'super' %}
                    <th scope="col">Usuário</th>
                    {% endif %}
                    <th scope="col">Colaborador</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr align="center">
                    <td>{{ ticket.ticket }}</td>
                    {% if user|has_role:'super' %}
                    <td>{{ ticket.usuario }}</td> 
                    {% endif %}                               
                    <td>
                        {% if not ticket.colaborador  %}
                            <a href="/ticket/add-ticket-colaborador/{{ticket.id}}?origem=link-index"><button class="btn btn-primary text-white"><i class="fas fa-user-tag"></i></button></a>
                        {% else %}
                            {{ ticket.colaborador }}
                        {% endif %}

                    </td>                                
                    <td>
                        {% if not ticket.cliente %}
                            <a href="/ticket/add-ticket-cliente/{{ticket.id}}"><button class="btn btn-dark"><i class="fas fa-users"></i></button></a>
                        {% else %}
                            {{ ticket.cliente }}
                        {% endif %}
                    </td>
                    <td> {% if ticket.emergencial == True %}
                        <span class="badge text-bg-danger">Emergencial</span>                              
                        {% else %}
                        <span class="badge text-bg-primary">Simples</span>                                                          
                        {% endif %}  </td>
                    <td>
                        {% if ticke.emergeencial == True %}
                            
                            {% if ticket.status == 'A' %}
                                <span class="badge text-bg-success">Aprovado</span>
                            {% endif %}
                            {% if ticket.status == 'F' %}
                                <span class="badge text-bg-danger">Finalizado</span>
                            {% endif %}
                            
                        {% else %}

                            {% if ticket.status == 'E' %}
                            <span class="badge text-bg-warning">Executado</span>
                            {% endif %}
                            {% if ticket.status == 'O' %}
                                <span class="badge text-bg-info">Orçamento</span>
                            {% endif %}
                            {% if ticket.status == 'A' %}
                                <span class="badge text-bg-secondary">Aprovado</span>
                            {% endif %}
                            {% if ticket.status == 'F' %}
                                <span class="badge text-bg-dark">Finalizado</span>
                            {% endif %}
                            {% if ticket.status == 'V' %}
                                <span class="badge text-bg-success">Vistoriado</span>
                            {% endif %}
                            {% if ticket.status == 'R' %}
                                <span class="badge text-bg-light">Rejeitado</span>
                            {% endif %}
                        {% endif %}                              
                    <td>
                        <a href="/ticket/ticket/{{ ticket.pk }}"><button class="btn btn-secondary text-white"><i class="fas fa-eye"></i></button></a> |
                        <!--<a href="{% url 'index-orcamento' ticket.id %}" class="btn btn-secondary disabled"><button disabled class="btn btn-primary text-white"><i class="fas fa-brazilian-real-sign"></i></button></a> |-->
                        <a href="/ticket/editar-ticket/{{ ticket.id }}"><button class="btn btn-success"><i class="fas fa-edit"></i></button></a> |
                        <a href="/ticket/deletar-ticket/{{ ticket.id }}"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}